# 🚨 Ignore Node.js dependencies
node_modules/
.next/
dist/

# 🚀 Ignore Solana Build Artifacts
target/
Cargo.lock
target/deploy/
*.so

# 🔐 Ignore Private Keys & Secrets
.env
*.key
id.json
keypair.json

# 💻 Ignore Local System Files
.DS_Store
Thumbs.db
*.log
voting-dapp-fa9b8-firebase-adminsdk-551np-c06374b34a.json
